h1{
    color:red;
    font-size:50px;
}

#wraps{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    background-color:blue;
}